@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Orbitron:400,900');
/* font-family: 'Orbitron', sans-serif; */

/* layout */
body { background: #f1f4fb url(../img/header_bg.jpg) repeat-x center top;  }
#header { height: 327px; }
#nav { display: none; }
#tit { background-color:#fff; border-bottom: 1px solid #dbdbdb; }
#contents .container { border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb; }
#cont_left { float: left; width: 250px; }
#cont_center {  overflow: hidden; margin-right: 250px; border-right: 1px solid #dbdbdb; 
    border-left: 1px solid #dbdbdb; min-height: 1300px;}
#cont_right { position: absolute; right: 0; top: 0; width: 250px;}
#footer { width: 100%; height: 200px; border-top: 1px solid #dbdbdb; }

/* container */
.container { position: relative; width: 1200px; margin: 0 auto; }

/* quick */
.quick { text-align: right; }
.quick a { color: #fff; padding: 8px 0 6px 10px; display: inline-block; 
    transition: color 0.3s ease; }
.quick a:hover { color: #ccc; }

/* title */
.title { text-align: center; text-transform: uppercase; margin-top: 70px; 
    font-family: 'Orbitron', sans-serif; }
.title p { font-size: 27px; color:#fff; background-color:#51b0dc;
    display: inline-block; padding: 17px 20px 10px 20px; font-weight: 900; }
.title h1 a { color: #fff; background-color: #4a9abf; padding: 14px 20px 10px 20px; 
    display: inline-block; font-size: 14px; font-weight: 400; 
    margin-top: -7px; transition: box-shadow 0.3s ease; }
.title h1 a:hover {
    box-shadow: 
        0 0 0 3px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}

/* icon */
.icon { text-align: center; margin-top: 40px; }
.icon li { display: inline; margin: 0 2px; }
.icon li a { position: relative; display: inline-block; width: 66px; height: 66px; 
    background-color: #3192bf; color: #fff; font-size: 35px; border-radius: 50%;
    transition: box-shadow 0.3s ease; }
.icon li a:hover { 
    box-shadow: 
        0 0 0 3px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
    }
.icon li a i { line-height: 66px; }
.icon li a span { opacity: 0; position: absolute; left: 50%; top: -30px; transform: translateX(-50%); font-size: 12px; 
    background-color: #3192bf; padding: 3px 9px; border-radius: 6px 0; transition: all 0.3s ease-in-out;}
.icon li a span:before { content: ''; position: absolute; left: 50%; bottom: -5px; 
    margin-left: -5px;
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.icon li a:hover span { opacity: 1; top: -35px; }
.ie8 .icon li a span { display: none; }

/* nav */
.nav { padding: 30px 0; }
.nav h2 { font-size: 18px; color: #25e2d0; padding-bottom: 8px; text-transform: uppercase; }
.nav li { position: relative; float: left; width: 20%; padding-left: 8px; box-sizing: border-box; }
.nav li:before { content: ''; width: 3px; height: 3px; border-radius: 50%; 
    background: #25a2d0; position: absolute; left: 0; top: 8px; }
.nav li a { padding: 3px; border-radius: 2px; font-size: 13px; line-height: 19px;
    color: #333; transition: all 0.1s; }
.nav li a:hover { background-color: #25a2d0; color: #fff; }

/* tit */
.tit { text-align: center; padding: 15px 0; }
.tit h2 { font-size: 39px; line-height: 44px; color: #0093bd;
    font-family: 'Nanum Brush Script'; }
.tit .tit_btn { position: absolute; right: 0; top: 8px;  display: inline-block; 
    width: 60px; height: 60px; background-color: #3192bf; color: #fff; 
    font-size: 35px; border-radius: 50%; }
.tit .tit_btn i { line-height: 60px;}

/* cbox */
.cbox { padding: 15px; border-bottom: 1px solid #dbdbdb; }
.cbox .cbox_tit { font-size: 20px; color: #2f7fa6; text-transform: uppercase;
    padding-bottom: 5px; }
.cbox .cbox_desc { border-bottom: 1px dashed #dbdbdb; padding-bottom: 15px;
    margin-bottom: 15px; color: #878787; line-height: 18px;}
.cbox.box1 { }
.cbox.box2 { }
.cbox.box3 { }
.cbox.box4 { }
.cbox.box5 { }
.cbox.box6 { }
.cbox.box7 { }
.cbox.box8 { }
.cbox.box9 { }

#cont_left article:nth-child(4) { border-bottom: 0; }
#cont_center article:nth-child(4) { border-bottom: 0; }
#cont_right article:nth-child(4) { border-bottom: 0; }

/* menu */
.menu li { position: relative; }
.menu li a { font-size: 16px; text-transform: uppercase; color: #878787;
    border-bottom: 1px solid #dbdbdb; padding: 10px; display: block; }
.menu li a i { position: absolute; right: 10px; top: 15px; }

/* notice */
.notice { position: relative; line-height: 18px; } /* reset.css -> line-height : 레이아웃이 이상해짐 */
.notice h5 { font-size: 14px; color: #2f7fa6; padding-bottom: 5px; }
.notice li { position: relative; overflow: hidden; text-overflow: ellipsis;
    white-space: nowrap; padding-left: 8px; }
.notice li:before { content: ''; width: 3px; height: 3px; border-radius: 50%;
    background-color: #449ce2; position: absolute; left: 0; top: 6px; }
.notice .more { position: absolute; right: 0; top: 0; color: #878787;
    text-transform: uppercase; font-size: 10px; }

/* notice2 */
.notice2 { position: relative; line-height: 18px; } /* reset.css -> line-height : 레이아웃이 이상해짐 */
.notice2 h5 { font-size: 14px; color: #2f7fa6; padding-bottom: 5px; }
.notice2 li { position: relative; overflow: hidden; text-overflow: ellipsis;
    padding-left: 8px; padding-bottom: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 18px;
    height: 36px;
}
.notice2 li:before { content: ''; width: 3px; height: 3px; border-radius: 50%;
    background-color: #449ce2; position: absolute; left: 0; top: 6px; }
.notice2 .more { position: absolute; right: 0; top: 0; color: #878787;
    text-transform: uppercase; font-size: 10px; }

/* mediaquery 320 / 480 / 600 / 768 / 960 / 1024 / 1280 */
@media (max-width: 1280px) {
    .container { width: 100%; }
    .row { padding: 0 15px; }
    #contents .container { border: 0; }
    .tit .tit_btn { right: 5px; }
}

@media (max-width: 1024px) {
    .nav li { width: 25%; }
}

@media (max-width: 960px) {
    .nav li { width: 33.3333%; }
    #cont_center { margin-right: 0; border-right: 0; }
    #cont_right { position: static; width: 100%; border-top: 1px solid #dbdbdb; }
}

@media (max-width: 768px) {
    .nav li { width: 50%; }
}

@media (max-width: 600px) {
    .nav { display: none; }
    #cont_left { float: none; width: 100%; }
    #cont_center { border-top: 1px solid #dbdbdb; }
    .title, .icon, .tit .tit_btn { display: none; }
    #header { height: auto; }
    .cbox.box1 { padding: 0; border-bottom: 0; }
    .cbox.box1 .cbox_tit { display: none; }
    .cbox.box1 .cbox_desc { display: none; }
    .cbox.box1 .menu li a i { display: none; }
    .cbox.box1 .menu ul { overflow: hidden; }
    .cbox.box1 .menu li { float: left; width: 33.3333%; text-align: center;
        border-right: 1px solid #dbdbdb; box-sizing: border-box; }
    .cbox.box1 .menu li a { color: #fff; text-shadow: 0 0 5px rgba(0,0,0,0.5); }
    .cbox.box1 .menu li:nth-child(3n) { border-right: 0; }
    .cbox.box2 { background: #f1f4fb; }
}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}
